/**
 * Font Faces
 */

// @font-face {
//   font-family: "Brandon Text Web";
//   font-weight: 400;
//   font-display: swap;
//   unicode-range: U+000-5FF;
//   src: url("../assets/fonts/brandon-text-web-regular.woff2") format("woff2"),
//     url("../assets/fonts/brandon-text-web-regular.woff") format("woff");
// }

// @font-face {
//   font-family: "Brandon Text Web";
//   font-weight: 700;
//   font-display: swap;
//   unicode-range: U+000-5FF;
//   src: url("../assets/fonts/brandon-text-web-bold.woff2") format("woff2"),
//     url("../assets/fonts/brandon-text-web-bold.woff") format("woff");
// }

/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("../assets/fonts/monserat-medium.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"),
    url("../assets/fonts/monserat-extra-light.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
